.test{
    height: max-content;
    margin-bottom: 40px;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
}

.headi{
    justify-content: center;
    font-size: 40px;
    font-family: Poppins;
    background-image: linear-gradient(90deg, #FBB040 0.61%, #FFF200 42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info1{
    width: 55%;
    border-radius: 8px;
    height: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info1-headi{
    text-align: left;
    margin: 10px 20px;
    font-size: 21px;
}

.info2{
    color: white;
    width: 25%;
    border-radius: 8px;
    height: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(27, 30, 49, 1);
}

.info2-headi{
    text-align: left;
    margin: 10px 20px;
    font-size: 21px;
}

.inputs1{
    display: flex;
    margin: 25px 0px;
}

.cou{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.apply_button{
    width: 20%;
    background-color: #FBB040;
    align-content: center;
    border-radius: 4px;
    font-size: 17px;
}

.apply_button:hover{
    cursor: pointer;
}


.names{width: 50%;}
.names2{width: 100%;}

.inp{width: 80%; padding: 4px 10px; border: rgb(180, 180, 180) 1px solid; border-radius: 4px;}
.inp2{width: 90%; padding: 5px 10px; border: rgb(180, 180, 180) 1px solid; height: 100px; border-radius: 4px;}
.inp3{width: 90%; padding: 4px 10px; border: rgb(180, 180, 180) 1px solid; border-radius: 4px;}

.line{
    border: 2px solid #ffffff;
    margin: 20px 25px;
}

.amounts{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.amount_type{
    width: 40%;
    text-align: left;
    font-style: italic;
}

.amount_num{
    width: 15%;
    text-align: right;
}

#total{
    font-size: large;
    font-weight: 600;
}

.pay_button{
    padding: 7px;
    color: white;
    margin-bottom: 10px;
    width: 50%;
    background-color: #FBB040;
    border-radius: 5px;
    font-weight: 500;
}

.pay_button:hover{
    transition: 0.5s ease;
    background-color: #ed9612;
    color: black;
}