/* Trade Log Table */
.table_wrapper {
  overflow-x: auto; /* Allow horizontal scrolling for smaller screens */
}

.table-responsive {
  border: 1px solid #000000;
  border-radius: 15px;
  background-color: #f6f6f6;
  overflow-x: auto; /* Enable horizontal scrolling for overflow content */
}

.tradelog-tbl {
  width: 100%; /* Ensure the table fills its container */
  border-collapse: collapse;
}

.tradelog-tbl th,
.tradelog-tbl td {
  padding: 1rem; /* Add padding for better spacing */
  text-align: center; /* Center align text */
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
  .table-responsive {
    display: block; /* Change to block display for smaller screens */
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of table content */
  }
  
  .tradelog-tbl th,
  .tradelog-tbl td {
    min-width: 100px; /* Set a minimum width for table cells */
  }
}

/* Dropdown Styling */
.tradelog-tbl .dropdown-toggle {
  background-color: white !important;
  border-radius: 2px;
  color: #1f2937;
  border: none;
  display: flex;
  align-items: center; /* Center align items vertically */
}

/* Button Styling */
.tradelog-tbl .submit-btn,
.tradelog-tbl .button,
.save-btn {
  padding: 9px 16px;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer; /* Change cursor to pointer on hoverable elements */
}

.tradelog-tbl .submit-btn,
.save-btn {
  color: white;
}

.tradelog-tbl .submit-btn:hover,
.save-btn:hover {
  color: #7d67ff;
  background-color: #fff;
  border-color: #7d67ff;
}

.tradelog-tbl .button {
  color: #7d67ff;
  border: 1px solid #7d67ff;
  background: #fff;
}

.tradelog-tbl .button:hover {
  color: #fff;
  background-color: #7d67ff;
  border-color: #fff;
}
